@page "/"
@using PdfEngineBlzr.Components;

<div class="main-container">
    <div class="chat-column">
        <ChatComponent />
    </div>
    <div class="pdf-column">
        <DocumentComponent />
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}